dt {
    width: 90px;
    padding: 0 5px 0 12px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    color: #999;
}
dl{
    border-bottom:1px
    dashed #aaaaaa;
    height:26px;
}
.basicInfo-item {
    line-height: 26px;
    display: block;
    padding: 0;
    margin: 0;
    float: left;

}
.navbar{
    background-color: #ffffff;
    box-shadow: 2px 2px 5px #888888;
}
dd{
    width: 5em;
    text-overflow:ellipsis;
}