body{
    padding-bottom: 40px;
    background:url(../img/bg.jpeg);
    -moz-background-size: 1566px 768px; /* 老版本的 Firefox */
    background-size: 1566px 768px;
    background-repeat:no-repeat;
}

.container-fluid {
}
.container-fluid>.search-inner{
    max-width: 650px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    margin: 0 auto;
    display: block;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    white-space: normal;
    padding-top: 115px;
}

h2{
    color : #fff;
    font-size:350%;
}
small{
    color: #fff;
}
.app-slogan{
   margin-top: 20px;
   text-align: center;
}

.search-field {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 75%;
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
}
.search-inner input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.submit{
    position: relative;
}

.form-control:focus {
    z-index: 2;
}


.lineto{
    max-width: 650px;
    margin: 0 auto;
    display: block;
    vertical-align: middle;
    white-space: normal;
    text-align: center;
}
.lineto-box{
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    width: 90%;
    text-align: left;
}
.btn-linetolist{
    width:100px;
    height: 30px;
    border:2px solid #ffffff;
    background:rgba(255,255,255,0.0);
    color: #ffffff;
}
.btn-search{
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 22%;
    height: 45px;
    border: 2px solid #ffffff;
    background: rgba(255, 255, 255, 0.0);
    color: #ffffff;
}

div.user {
    position: relative;
    margin-top: 30px;
    float: right;
    display: block;
}

.btn-login {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 75px;
    height: 35px;
    border: 2px solid #ffffff;
    background: rgba(255, 255, 255, 0.0);
    color: #ffffff;
}

.btn-user {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50px;
    height: 35px;
    border:2px solid #ffffff;
    background:rgba(255,255,255,0.0);
    color: #ffffff;
}