<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="http://apps.bdimg.com/libs/angular.js/1.3.9/angular.min.js"></script>
    <script src="//cdn.bootcss.com/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.js"></script>
    <title></title>
</head>

<body ng-app="flowerlist" >
<div ng-controller="TabsDemoCtrl" class="container-fluid">
    <uib-tabset>
        <uib-tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disable="tab.disabled" select="getFlowers(tab.title)">
        </uib-tab>
    </uib-tabset>
    <div>

        <div class="row" >
            <div class="col-xs-6 col-md-3" ng-repeat="flower in flowers">
                <a href={{"http://loftcat.cn:3000/flower_detail#?id="+flower._id}} class="thumbnail">
                    <img ng-src={{"http://7xoflr.com1.z0.glb.clouddn.com/"+flower.head_pic}} alt="..." style="height: 350px; width: 100%; display: block;">
                </a>
            </div>
        </div>

        <uib-pagination direction-links="true" total-items="totalItems" ng-model="currentPage" max-size="maxSize"
                        ng-change="pageChanged()" items-per-page="itemsPerPage"
                ></uib-pagination>
        <pre>The selected page no: {{currentPage}}</pre>
    </div>
</div>
<script src="js/controller/flowerlist.js"></script>
</body>
</html>