<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="css/searchlist.css" rel="stylesheet">
    <script src="http://apps.bdimg.com/libs/angular.js/1.3.9/angular.min.js"></script>
    <script src="//cdn.bootcss.com/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.js"></script>
    <title></title>
</head>

<body ng-app="searchlist">
<div ng-controller="TabsDemoCtrl" class="container-fluid">

    <!--<form class="form-search" style="right:0; top:0; width:100%; position:fixed; padding:10px; text-align:center; font-weight:bold; background:#ccc;">-->
        <!--<div class="row">-->
            <!--<input type="text" class="col-xs-12 col-md-3 col-md-offset-2 search-field" ng-model="info"-->
                   <!--placeholder="请输入您感兴趣的花花草草" required autofocus>-->
            <!--<button class="col-xs-12 col-md-1" type="submit" ng-click="searching()"> 搜索</button>-->
        <!--</div>-->
    <!--</form>-->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://localhost:3000">花花世界</a>
        </div>
        <div>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="search-field" ng-model="info" placeholder="请输入您感兴趣的花花草草" required autofocus>
                </div>
                <button  class="submit btn-search" ng-click="searching()">搜索 </button>
            </form>
        </div>
    </nav>

    <div class="row" style="padding-top: 50px">
        <div ng-repeat="flower in flowers" class="col-xs-12 col-md-8 col-md-offset-2" style="background-color: #eeeeee">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <a href={{linktodetail+flower._id}} target="_blank" class="thumbnail">
                        <img ng-src={{storage_url+flower.head_pic}} alt="..."
                             style="height: 300px; width: 100%; display: block;">
                    </a>
                </div>
                <div class="col-xs-12 col-md-8">
                    <h1>{{flower.name}}
                        <small>{{" "+flower.basic_info.scientific_name.value}}</small>
                    </h1>
                    <p>{{flower.desc}}</p>
                </div>
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <uib-pagination
                direction-links="true" total-items="totalItems" ng-model="currentPage" max-size="maxSize"
                ng-change="pageChanged()" items-per-page="itemsPerPage"
                ></uib-pagination>
    </div>
</div>

</div>
<script src="js/controller/searchlist.js"></script>
</body>
</html>